
<div class="fighting-style-tabs tabs flex row" data-group="fighting-style">
    {{#each data.itemsByType.fighting-styles as |fighting-style key|}}
    <div class="tab-label" data-tab="{{key}}">{{fighting-style.name}}</div>
    {{/each}}
    <div class="tab-label" data-tab="add-fighting-style">{{localize "SK.TAB.ADD_STYLE"}}</div>
</div>
<div class="fighting-style-body">
    {{#each data.itemsByType.fighting-style as |fighting-style key|}}
        {{> systems/spellbound-kingdoms/templates/character/combat/fighting-style.hbs fighting-style=fighting-style key=key}}
    {{/each}}
    <div class="tab tab-add-fighting-style" data-group="fighting-style" data-tab="add-fighting-style">
        {{#each data.allFightingStyles as |fighting-style key|}}
            {{> systems/spellbound-kingdoms/templates/character/combat/partial/fighting-style-option.hbs fighting-style=fighting-style}}
        {{/each}}
    </div>
</div>