<select class="die-select die-select-{{type}}" data-type="{{type}}">
    {{#if blankline }}<option value="">-</option>{{/if}}
    {{#each dieSteps as |die dieSize|}}
        <option value="d{{dieSize}}"{{#if die.selected}} selected{{/if}}>d{{dieSize}}</option>
    {{/each}}
</select>