<div class="item ability-item">
    <div>
        <span class="ability-item-name">{{ability.name}}</span>
        <span class="ability-item-actions"></span>
    </div>
    <div>
        <span class="ability-item-description">{{ability.data.short-description}}</span>
    </div>
</div>