<div class="item talent-item">
    <div>
        <span class="talent-item-name">{{talent.name}}</span>
        <span class="talent-item-level">{{talent.data.level}}</span>
        <span class="talent-item-actions"></span>
    </div>
    <div>
        <span class="talent-item-description">{{talent.data.short-description}}</span>
    </div>
</div>