<div class="locked-in-maneuvers">
    {{#each maneuvers as |maneuver tokenId|}}
    <div class="locked-in-maneuver">
        <div class="combatant-name">
            <a class="token-link" data-token-id="{{tokenId}}">{{maneuver.combatant.name}}</a>
        </div>
        
        {{> systems/spellbound-kingdoms/templates/character/combat/partial/maneuver.hbs maneuver=maneuver.maneuver absolute=false}}
    </div>
    {{/each}}
</div>