<form class="roll-dialog">
    <h2>{{localize title}}</h2>
    <div class="roll-setup">
        <div class="row-label row-label-base-die">{{localize die.label}}</div>
        <div class="cell-base-die">
            {{> systems/spellbound-kingdoms/templates/components/roll-engine/partial/die-select.html type="base" blankline=false}}
        </div>
        <div class="cell-base-die-increase">
            <select class="die-select die-select-base-increase" data-type="base-increase">
                <option value="">-</option>
                <option value="1">1 x d20</option>
                <option value="2">2 x d20</option>
                <option value="3">3 x d20</option>
                <option value="4">4 x d20</option>
                <option value="5">5 x d20</option>
            </select>
        </div>

        <div class="row-label row-label-penalty-die">{{localize "SK.DICE.PENALTY"}}</div>
        <div class="cell-penalty-die-1">
            {{> systems/spellbound-kingdoms/templates/components/roll-engine/partial/die-select.html type="penalty" blankline=true}}
        </div>
        <div class="cell-penalty-die-2">
            {{> systems/spellbound-kingdoms/templates/components/roll-engine/partial/die-select.html type="penalty" blankline=true}}
        </div>
        <div class="cell-penalty-die-3">
            {{> systems/spellbound-kingdoms/templates/components/roll-engine/partial/die-select.html type="penalty" blankline=true}}
        </div>

        <div class="row-label row-label-bonus-die">{{localize "SK.DICE.BONUS"}}</div>
        <div class="cell-bonus-die-1">
            {{> systems/spellbound-kingdoms/templates/components/roll-engine/partial/die-select.html type="bonus" blankline=true}}
        </div>
        <div class="cell-bonus-die-2">
            {{> systems/spellbound-kingdoms/templates/components/roll-engine/partial/die-select.html type="bonus" blankline=true}}
        </div>
        <div class="cell-bonus-die-3">
            {{> systems/spellbound-kingdoms/templates/components/roll-engine/partial/die-select.html type="bonus" blankline=true}}
        </div>
    </div>
    <div class="dialog-buttons">
        <button class="dialog-button-cancel">Cancel</button>
        <button class="dialog-button-roll">Roll</button>
    </div>
</form>