.spellbound-kingdoms .character {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.spellbound-kingdoms .sheet-body {
  overflow: hidden;
  flex-grow: 1;
}

.spellbound-kingdoms .character .header-section {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 0px;
    white-space: nowrap;
}
    
.header-section .character-avatar       { grid-area: 1 / 1 / 4 / 2; }
.header-section .character-name         { grid-area: 1 / 2 / 2 / 5; }
.header-section .character-race         { grid-area: 1 / 5 / 2 / 8; }
.header-section .character-mood         { grid-area: 3 / 2 / 4 / 3; }
.header-section .character-body         { grid-area: 3 / 3 / 4 / 4; }
.header-section .character-armor        { grid-area: 3 / 4 / 4 / 5; }
.header-section .character-wealth-level { grid-area: 3 / 5 / 4 / 7; }
.header-section .character-gold         { grid-area: 3 / 7 / 4 / 8; }
.header-section .character-class-0      { grid-area: 2 / 2 / 3 / 4; }
.header-section .character-class-1      { grid-area: 2 / 4 / 3 / 6; }
.header-section .character-class-2      { grid-area: 2 / 6 / 3 / 8; }

input.grid-input { width: 81%; }

.spellbound-kingdoms .character-class select {
    width: 140px;
}

.spellbound-kingdoms .character .frame {
    border: 6px ridge;
    border-color: var(--light-main-color);
    padding: 6px 0px 6px 2px;
    margin-bottom: 4px;
    min-height: 150px;
    border-radius: 10px;
}
.spellbound-kingdoms .character .frame .frame-label {
    text-transform: uppercase;
    font-family: Mordred-Bold;
    font-size: 18px;
    text-align: center;
    border-bottom: 1px solid;
    margin-bottom: 6px;
    color: var(--label-color);
}

/* ######## MAIN TAB ######### */

.spellbound-kingdoms .character .main-column {
    float: left;
    width: 33.33%;
    padding: 2px;
}

.spellbound-kingdoms .character .tab-main .character-stats {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(6, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 0px;
}
    
.character-stat-strength-label  { grid-area: 1 / 1 / 2 / 2; }
.character-stat-strength-value  { grid-area: 1 / 2 / 2 / 3; }
.character-stat-quickness-label { grid-area: 2 / 1 / 3 / 2; }
.character-stat-quickness-value { grid-area: 2 / 2 / 3 / 3; }
.character-stat-reason-label    { grid-area: 3 / 1 / 4 / 2; }
.character-stat-reason-value    { grid-area: 3 / 2 / 4 / 3; }
.character-stat-charisma-label  { grid-area: 4 / 1 / 5 / 2; }
.character-stat-charisma-value  { grid-area: 4 / 2 / 5 / 3; }
.character-stat-magic-label     { grid-area: 5 / 1 / 6 / 2; }
.character-stat-magic-value     { grid-area: 5 / 2 / 6 / 3; }
.character-stat-heart-label     { grid-area: 6 / 1 / 7 / 2; }
.character-stat-heart-value     { grid-area: 6 / 2 / 7 / 3; }

.spellbound-kingdoms .character .tab-main .character-stat-label {
    text-align: right;
    line-height: 25px;
    font-size: 20px;
    font-family: Mordred-Bold;
}
.spellbound-kingdoms .character .tab-main .character-stat-label:hover {
    background: linear-gradient(to left, rgba(153,82,0,1) -40%,  rgba(224,221,212,1) 100%);
    cursor: pointer;
}

.spellbound-kingdoms .character .tab-main .character-inspirations {
    height: 156px;
    max-height: 156px;
    overflow-y: scroll;
}
.spellbound-kingdoms .character .tab-main .character-histories {
    height: 186px;
    max-height: 186px;
    overflow-y: scroll;
}
.spellbound-kingdoms .character .tab-main .character-reputations {
    height: 262px;
    max-height: 262px;
    overflow-y: scroll;
}
.spellbound-kingdoms .character .tab-main .character-scars {
    height: 96px;
    max-height: 96px;
    overflow-y: scroll;
}

.spellbound-kingdoms .character .tab-main .item {
    display: grid;
    grid-template-columns: min-content auto min-content;
    grid-column-gap: 2px;
    grid-row-gap: 0px;
}

/* *** talent list *** */

.spellbound-kingdoms .character .tab-main .character-talents {
    height: 234px;
    max-height: 234px;
    overflow-y: scroll;
}
.spellbound-kingdoms .character .tab-main .item.talent-item {
    display: grid;
    grid-template-columns: repeat(5, auto);
    grid-template-rows: repeat(4, auto);
    grid-column-gap: 2px;
    grid-row-gap: 0px;

    border-bottom: 2px solid;
    margin-bottom: 4px;
}
    
.spellbound-kingdoms .character .item.talent-item .talent-item-name        { grid-area: 1 / 1 / 2 / 6; }
.spellbound-kingdoms .character .item.talent-item .talent-image            { grid-area: 2 / 1 / 5 / 2; }
.spellbound-kingdoms .character .item.talent-item .talent-item-description { grid-area: 2 / 2 / 4 / 6; }
.spellbound-kingdoms .character .item.talent-item .item-controls-left      { grid-area: 4 / 2 / 5 / 3; }
.spellbound-kingdoms .character .item.talent-item .talent-item-level       { grid-area: 4 / 3 / 5 / 5; }
.spellbound-kingdoms .character .item.talent-item .item-controls-right     { grid-area: 4 / 5 / 5 / 6; }

.spellbound-kingdoms .character .item.talent-item .talent-image {
    width: 49px;
    height: 49px;
}
.spellbound-kingdoms .character .item.talent-item .talent-image img {
    border: none;
}
.spellbound-kingdoms .character .item.talent-item .talent-item-name {
    font: 18px Mordred-Bold;
    border-bottom: 1px solid;
    text-align: center;
    background-color: tan;
}
.spellbound-kingdoms .character .item.talent-item .talent-item-description {
    border-bottom: 1px dashed;
}
.spellbound-kingdoms .character .item.talent-item .talent-item-level {
    font-weight: bold;
}
.spellbound-kingdoms .character .item.talent-item .item-controls-right,
.spellbound-kingdoms .character .item.talent-item .item-controls-left,
.spellbound-kingdoms .character .item.talent-item .talent-item-level {
    text-align: center;
}

/* *** ability list *** */

.spellbound-kingdoms .character .tab-main .character-abilities {
    height: 340px;
    max-height: 340px;
    overflow-y: scroll;
    overflow-x: clip;
}
.spellbound-kingdoms .character .character-abilities .ability-category {
    border-left: 2px solid;
    border-color: var(--main-color);
    background: linear-gradient(to top, rgba(128, 128, 128, 0.5), transparent);
}
.spellbound-kingdoms .character .character-abilities .ability-category-name {
    font-size: 16px;
    font-weight: bold;
    font-style: italic;
    color: var(--main-color);

    border-bottom: 2px solid;
    border-color: var(--main-color);

    padding-left: 6px;
    
    margin-top: 6px;
    margin-bottom: 2px;
}

.spellbound-kingdoms .character .tab-main .item.ability-item {
    display: grid;
    grid-template-columns: 14px auto 14px;
    grid-template-rows: repeat(3, auto);
    grid-column-gap: 2px;
    grid-row-gap: 0px;

    border-bottom: 2px solid;
    border-color: var(--main-color);

    margin-bottom: 4px;
}
    
.spellbound-kingdoms .character .item.ability-item .item-controls-left       { grid-area: 1 / 1 / 2 / 2; }
.spellbound-kingdoms .character .item.ability-item .ability-item-name        { grid-area: 1 / 2 / 2 / 3; }
.spellbound-kingdoms .character .item.ability-item .item-controls-right      { grid-area: 1 / 3 / 4 / 4; }
.spellbound-kingdoms .character .item.ability-item .ability-item-description { grid-area: 2 / 1 / 4 / 3; }

.spellbound-kingdoms .character .item.ability-item .ability-image img {
    border: none;
}
.spellbound-kingdoms .character .item.ability-item .ability-item-name {
    font: 16px Mordred-Bold;
    border-bottom: 1px dashed;
    text-align: center;
}
.spellbound-kingdoms .character .item.ability-item .ability-item-description {
    text-align: center;
}
.spellbound-kingdoms .character .item.ability-item .ability-item-level {
    font-weight: bold;
}
.spellbound-kingdoms .character .item.ability-item .item-controls-right,
.spellbound-kingdoms .character .item.ability-item .item-controls-left,
.spellbound-kingdoms .character .item.ability-item .ability-item-level {
    text-align: center;
}


/* ##### END OF MAIN TAB ###### */


/* ######## INVENTORY TAB ######### */

.spellbound-kingdoms .character .tab-inventory .columns {
    overflow: hidden;
}

/* *** wealth slots *** */

.spellbound-kingdoms .character .tab-inventory .frame-side-label {
    transform: rotate(180deg);
    writing-mode: vertical-lr;
    float: left;
}
.spellbound-kingdoms .character .tab-inventory .wealth-levels {
    display: grid;
    overflow-x: scroll;
    grid-template-columns: repeat(20, 200px);
    grid-template-rows: 120px;
}
.spellbound-kingdoms .character .tab-inventory .wealth-level {
    width: 200px;
    border: 1px solid;
}
.spellbound-kingdoms .character .tab-inventory .wealth-slot-list {
    overflow-y: scroll;
    height: 90px;
}

/* *** gear list *** */

.spellbound-kingdoms .character .tab-inventory .character-weapons {
    height: 234px;
    max-height: 234px;
    overflow-y: scroll;
}
.spellbound-kingdoms .character .tab-inventory .item.gear-item {
    display: grid;
    grid-template-columns: 33px 14px 1fr 1fr 70px 14px;
    grid-template-rows: repeat(2, auto);
    grid-column-gap: 2px;
    grid-row-gap: 0px;

    /* border-bottom: 2px solid; */
    margin-bottom: 4px;
    padding-right: 2px;
}
    
.spellbound-kingdoms .character .item.gear-item .gear-item-quality      { grid-area: 1 / 1 / 3 / 2; }
.spellbound-kingdoms .character .item.gear-item .gear-item-name         { grid-area: 1 / 2 / 2 / 6; }
.spellbound-kingdoms .character .item.gear-item .item-controls-left     { grid-area: 2 / 2 / 3 / 3; }
.spellbound-kingdoms .character .item.gear-item .gear-requirements      { grid-area: 2 / 3 / 3 / 5; }
.spellbound-kingdoms .character .item.gear-item .gear-item-wealth-level { grid-area: 2 / 5 / 3 / 6; }
.spellbound-kingdoms .character .item.gear-item .item-controls-right    { grid-area: 1 / 6 / 3 / 7; }

.spellbound-kingdoms .character .item.gear-item .gear-item-name {
    max-height: 17px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;

    font-weight: bold;
    font-size: 15px;
}
.spellbound-kingdoms .character .item.gear-item .gear-item-quality {
    font-family: KingsCross;
    font-weight: bold;
    text-align: center;
    border: 2px groove;
    font-size: 25px;
}
.spellbound-kingdoms .character .item.gear-item .gear-item-wealth-level select {
    width: 40px;
    font-size: 12px;
    height: 16px;
}
.spellbound-kingdoms .character .item.gear-item .item-controls-right,
.spellbound-kingdoms .character .item.gear-item .gear-item-wealth-level,
.spellbound-kingdoms .character .item.gear-item .gear-requirements,
.spellbound-kingdoms .character .item.gear-item .item-controls-left {
    text-align: center;
}
.spellbound-kingdoms .character .item.gear-item .gear-requirements.green {
    color: green;
}
.spellbound-kingdoms .character .item.gear-item .gear-requirements.red {
    color: red;
}

/* ##### END OF INVENTORY TAB ###### */

.spellbound-kingdoms .tab {
    height: 100%;
    width: 100%;
}

.spellbound-kingdoms .editor,
.spellbound-kingdoms .editor-content {
  height: 100%;
  padding: 5px;
  width: 100%;
}
  
.spellbound-kingdoms .bio .profile-img {
    width: 100px;
    min-width: 100px;
}

.actor .bio-tab {
    height: 550px;
    overflow-y: scroll;
}

.actor .bio-tab .section {
    width: 100%;
}

.bio-tab textarea {
    height: 90px;
}

.skills, .abilities {
    width: 150px;
}
.skill:nth-child(odd), .spellbound-kingdoms .item:nth-child(odd) {
    background-color: var(--alternate-background-color);
}
.spellbound-kingdoms .character-abilities .item.ability-item:nth-child(odd) {
    background-color: transparent;
}

.character .section .items {
    width: 250px;
}

.actor .section {
    margin-top: 8px;
    border: 4px solid var(--main-color);
    padding: 6px;
    width: fit-content;
}

.actor .section.section-items {
    width: 280px;
}

.actor .column {
    margin-right: 8px;
}

.section.section-qualifications, .section.section-currency {
    width: 100%;
}

.items .item {
    font-size: 14px;
    margin-left: 4px;
    font-weight: bold;
    width: 100%;
}

.skills .use-skill {
    margin-left: 4px;
    font-weight: bold;
    width: 100%;
    font-size: 12px;
    line-height: 17px;
    display: flex;
}
.skill .skill-name {
    white-space: nowrap;
    display: block;
    max-height: 17px;
    max-width: 100px;
    overflow-x: hidden;
    font-family: TheSans-Bold-Caps;
}
.skill .skill-type {
    margin-left: 4px;
}

.heading {
    border-bottom: 1px solid #A7A9AC;
    margin-bottom: 4px;
}

button.recover-ap, button.recover-uses {
    font-size: 14px;
    height: 26px;
    vertical-align: middle;
    line-height: 21px;
    width: fit-content;
    margin: 0 4px 0 4px;
}

.recover-text {
    text-align: center;
}

button.use-item { /* use ability */
    padding: 0px;
    margin: 0px;
    font-size: 12px;
    height: 18px;
    vertical-align: middle;
    line-height: 18px;
}

button.item-create, button.add-history, button.add-talent {
    width: 24px;
    height: 24px;
    line-height: 18px;
    font-size: 20px;

    float: right;
}
button.character-abilities-fill {
    width: 50px;
    height: 24px;
    line-height: 18px;
    font-size: 16px;

    float: right;
}

.ability-uses {
    margin-left: 4px;
    margin-right: 4px;
    min-width: 15px;
    text-align: center;
}

.item-picker-dialog .tabs {
    margin-bottom: 6px;
}
.item-picker-dialog .tab-header {
    font-family: Mordred-Bold;
    text-transform: uppercase;
    text-align: center;
    border: 2px solid;
    font-size: 18px;
    width: 100%;
    cursor: pointer;

    background-color: rgba(128, 128, 128, 0.5);
}
.item-picker-dialog .tab-header.active {
    border-bottom: none;
    background-color: rgba(0, 0, 0, 0);
}

.grid-container {
    display: grid;
}

.item-picker-dialog .grid-container {
    display: grid;
    grid-template-columns: 5% 20% auto;
    overflow-y: scroll;
    height: 478px;
    margin-bottom: 10px;
}

input.item-picker-checkbox {
    width: auto;
    height: auto;
}

.item-picker-item label {
    font-family: Mordred-Bold;
    font-size: 20px;
    color: black
}

.item-picker-item-description label {
    font-size: 16px;
    line-height: 14px;
    color: black;
    font-family: AgencyFB-Bold;
}

.grid-item {
    padding: 0px;
    margin-top: auto;
    border-bottom: 1px solid gray;
    margin-bottom: 6px;
}

.item-picker-item-description label {
    height: 100%;
    display: flex;
    align-items: center;
}

.item .item-stat {
    padding-left: 10px;
    white-space: nowrap;
}

.qualification-role {
    font-family: TheSans-Bold-Caps;
    font-size: 12px;
}