.dice-tooltip .dice-rolls {
    margin-left: 10px;
}

.dice-tooltip .dice-rolls .roll.d2 {
    background-image: url(../assets/images/icons/plain-circle-grey.svg);
}

.dice-roll .dice-formula {
    text-decoration: underline;
    cursor: pointer;
    font-family: Mordred-Bold;
    font-size: 22px;
}

.dice-tooltip .part-header .part-flavor {
    width: 60px;
    text-align: right;
    font-family: 'Mordred-Bold';
    font-size: 18px;
    line-height: 34px;
}

.dice-tooltip .part-header .part-total {
    line-height: 34px;
}
.dice-tooltip .tooltip-part.penalty {
    background-color: #d6c3c1;
}
.dice-tooltip .tooltip-part.bonus {
    background-color: #d3e0d4;
}

.chat-message .dice-buttons .sk-button {
    width: 31%;
    margin-top: 4px;
}

/* ################ POST TO CHAT ################### */
/* --- GEAR --- */

.chat-message .item.gear-item {
    display: grid;
    grid-template-columns: 33px repeat(4, auto);
    grid-template-rows: repeat(3, auto);
    grid-column-gap: 2px;
    grid-row-gap: 0px;

    margin-bottom: 4px;
    padding-right: 2px;

    border: 1px solid;
    padding: 2px;
}
    
.chat-message .item.gear-item .gear-item-quality      { grid-area: 1 / 1 / 3 / 2; }
.chat-message .item.gear-item .gear-item-name         { grid-area: 1 / 2 / 2 / 4; }
.chat-message .item.gear-item .gear-item-type         { grid-area: 1 / 4 / 2 / 6; }
.chat-message .item.gear-item .gear-requirements      { grid-area: 2 / 2 / 3 / 5; }
.chat-message .item.gear-item .gear-item-wealth-level { grid-area: 2 / 5 / 3 / 6; }
.chat-message .item.gear-item .gear-item-description  { grid-area: 3 / 1 / 4 / 6; }

.chat-message .item.gear-item .gear-item-name {
    max-height: 17px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;

    font-weight: bold;
    font-size: 15px;
}
.chat-message .item.gear-item .gear-item-quality {
    font-family: KingsCross;
    font-weight: bold;
    text-align: center;
    border: 2px groove;
    font-size: 25px;
}
.chat-message .item.gear-item .gear-item-wealth-level,
.chat-message .item.gear-item .gear-requirements {
    text-align: center;
}