.dice-tooltip .dice-rolls {
    margin-left: 10px;
}

.dice-tooltip .dice-rolls .roll.d2 {
    background-image: url(../assets/images/icons/plain-circle-grey.svg);
}

.dice-roll .dice-formula {
    text-decoration: underline;
    cursor: pointer;
    font-family: Mordred-Bold;
    font-size: 22px;
}

.dice-tooltip .part-header .part-flavor {
    width: 60px;
    text-align: right;
    font-family: 'Mordred-Bold';
    font-size: 18px;
    line-height: 34px;
}

.dice-tooltip .part-header .part-total {
    line-height: 34px;
}
.dice-tooltip .tooltip-part.penalty {
    background-color: #d6c3c1;
}
.dice-tooltip .tooltip-part.bonus {
    background-color: #d3e0d4;
}

.chat-message .dice-buttons .sk-button {
    width: 31%;
    margin-top: 4px;
}