@font-face {
    font-family: Mordred-Bold;
    src: url(../assets/fonts/Mordred-Bold.ttf);
}

:root {
    --main-color: #995200;
    --light-main-color: #b57e3e;
    --label-color: #6B233D;
    --alternate-background-color: rgba(244,246,238,0.5);;
}

.spellbound-kingdoms a:hover {
    text-shadow: none;
    color: var(--main-color);
}

.spellbound-kingdoms .flex {
    display: flex;
}

.spellbound-kingdoms .row {
  flex-direction: row;
}

.spellbound-kingdoms .row-alternate {
  flex-direction: row;
  background-color: var(--alternate-background-color);
}

.spellbound-kingdoms .column {
  flex-direction: column;
}

table {
    border: 0px solid;
    margin: 0px;
    background: none;
}

.faded {
    opacity: 0.5;
}

/* Inserting this collapsed row between two flex items will make 
 * the flex item that comes after it break to a new row */
.break {
    flex-basis: 100%;
    height: 0;
}

.full-width {
    width: 100%;
}

.tabs .item.active {
    text-shadow:none;
    background-color: lightgray;
}

input.shortest-num {
    width: 30px;
    text-align: center;
}
input.short-num {
    width: 40px;
    text-align: center;
}
input.short-medium {
    width: 50px;
    text-align: center;
}
input.medium-num {
    width: 60px;
    text-align: center;
}
input:read-only {
    border: 0 solid;
}

.spellbound-kingdoms .item-controls {
    width: fit-content;
    white-space: nowrap;
}

/* .window-app.spellbound-kingdoms .window-content, .window-app.journal-sheet .window-content {
    background: white;
} */

.spellbound-kingdoms h1, .spellbound-kingdoms .h1, .journal-sheet h1 {
    background: rgb(2,0,36);
    background: radial-gradient(at 50% 100%, rgba(224,221,212,1) 20%, rgba(153,82,0,1) 100%);
    /* color: white; */

    font-family: Mordred-Bold;
    text-transform: uppercase;
    text-align: center;
    border: 2px solid;
    /* border-left: 1px solid;
    border-right: 1px solid; */
    font-size: 18px;
    font-weight: bold;
    margin: 0;
    padding: 4px 4px;
    width: 100%;
}

.spellbound-kingdoms h1.active, .spellbound-kingdoms .h1:active {
    /* text-decoration-line: underline overline;
    text-decoration-style: double; */
    border-bottom: 0px;
    /* background: none; */
    background: radial-gradient(at 50% 100%, rgba(224,221,212,1) 30%, rgba(153,82,0,1) 130%);
    /* text-decoration-color: #00AEEF; */
}

.spellbound-kingdoms h2, .spellbound-kingdoms .h2, .journal-sheet h2 {
    text-transform: uppercase;
    font-family: Mordred-Bold;
    font-size: 18px;
    text-align: center;
    width: 100%;
    border-bottom: 1px solid;
    margin-bottom: 6px;
    color: var(--label-color);
}

.spellbound-kingdoms h3, .spellbound-kingdoms .h3, .journal-sheet h3 {
    color: var(--label-color);

    font-family: Mordred-Bold;
    text-align: center;
    border: 0 none;
    font-size: 13px;
    margin: 0;
    padding: 4px 4px;
}

.spellbound-kingdoms label, .spellbound-kingdoms .label {
    color: var(--label-color);
    font-size: 18px;
    font-family: Mordred-Bold;
}

.spellbound-kingdoms .section-heading {
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(95,10,48,1) 85%);

    font-family: TheSans-Bold-Caps;
    font-size: 16px;
    text-transform: uppercase;

    color: white;
    text-align: center;
    width: 100%;
    padding: 3px;
}

.spellbound-kingdoms button {
    /* background-color: var(--alternate-background-color);
    border-color: var(--main-color);
    border-radius: 10px; */
}

.uppercase {
    text-transform: uppercase;
}
.capitalize {
    text-transform: capitalize;
}

.help-popup-trigger {
    float: right;
    color: blue;
}
.help-popup-trigger.alternate {
    float: right;
    color: white;
}
.help-popup-content {
    position: absolute;
    display: none;
    
    line-height: 14px;
    font-style: italic;
    font-family: "Signika", sans-serif;
    color: black;
    text-transform: none;

    background-color: white;
    width: 200px;
    border: 2px solid blue;
    padding: 4px;
    z-index: 1;
}