textarea.skill-description {
    height: 60px;
}

button.add-active-effect {
    width: fit-content;
    margin: 0px;
    font-size: 12px;
    height: 18px;
    vertical-align: middle;
    line-height: 18px;
    border: 0px;
}

.effects-list {
    max-height: 150px;
    overflow-y: scroll;
    list-style: none;
    padding: 0;
    margin: 0;
    margin-top: 4px;
}

.effects-list li {
    border-bottom: 1px solid;
    padding-bottom: 4px;
    margin-bottom: 4px;
}
.effect-icon {
  flex: 0 0 24px;
  height: 24px;
  margin-right: 4px;
  border: none;
}
.effect-label {
  flex: 1;
  line-height: 24px;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.effect-controls {
  line-height: 24px;
  flex: 0 0 60px;
  text-align: center;
}
.effect-controls a button {
    cursor: pointer;
}
.fa-power-off {
  color: black;
}

.disabled-effect .effect-label {
    text-decoration: line-through;
    text-decoration-thickness: 2px;
}

.bounty-hunter.item .profile-img {
    min-width: 60px;
    max-width: 60px;
    margin-right: 10px;
}

.form-gear-label, .form-ability-label, .form-skill-label, .form-component-label {
    white-space: nowrap;
    line-height: 25px;
}

/* *************** WEAPON ******************* */

/* .sheet.weapon .section {
    border: 4px solid var(--main-color);
} */
.sheet.item label {
    margin-right: 2px;
}
.sheet.item .window-content {
    background-color: var(--alternate-background-color);
}
.sheet.item .gear-description, 
.sheet.item .skill-description, 
.sheet.item .component-description {
    height: 85px;
}

.sheet.item .grid {
    display: grid;
    grid-template-columns: repeat(10, 1fr [col-start]);
    grid-template-rows: repeat(4, 34px);
    column-gap: 4px;
    row-gap: 4px;
}
.sheet.item .grid > div {
    background-color: white;
    padding: 4px 6px;
}

/* ---- inspiration ---- */
.grid-inspiration {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 6px;
    grid-row-gap: 0px;
}
    
.grid-inspiration .avatar                  { grid-area: 1 / 1 / 3 / 2; }
.grid-inspiration .inspiration-name        { grid-area: 1 / 2 / 2 / 6; }
.grid-inspiration .inspiration-value       { grid-area: 2 / 2 / 3 / 4; }
.grid-inspiration .item-uses               { grid-area: 2 / 4 / 4 / 6; }
.grid-inspiration .inspiration-description { grid-area: 3 / 1 / 6 / 6; }

.grid-inspiration .inspiration-name input { width: 80%; }

/* ---- history ---- */
.grid-history {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 6px;
    grid-row-gap: 0px;
}
    
.grid-history .avatar              { grid-area: 1 / 1 / 3 / 2; }
.grid-history .history-name        { grid-area: 1 / 2 / 2 / 6; }
.grid-history .history-value       { grid-area: 2 / 2 / 3 / 4; }
.grid-history .history-type        { grid-area: 2 / 4 / 3 / 6; }
.grid-history .history-description { grid-area: 3 / 1 / 6 / 6; }

.grid-history .history-name input { width: 80%; }

/* ---- scar ---- */
.grid-scar {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 6px;
    grid-row-gap: 0px;
}
    
.grid-scar .avatar           { grid-area: 1 / 1 / 3 / 2; }
.grid-scar .scar-name        { grid-area: 1 / 2 / 3 / 6; }
.grid-scar .scar-description { grid-area: 3 / 1 / 6 / 6; }

.grid-scar .scar-name input { width: 80%; }

/* ---- talent ---- */
.grid-talent {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(6, auto);
    grid-column-gap: 6px;
    grid-row-gap: 0px;
}
    
.grid-talent .avatar                   { grid-area: 1 / 1 / 3 / 2; }
.grid-talent .talent-name              { grid-area: 1 / 2 / 2 / 6; }
.grid-talent .talent-level             { grid-area: 2 / 2 / 3 / 4; }
.grid-talent .talent-type              { grid-area: 2 / 4 / 3 / 6; }
.grid-talent .talent-short-description { grid-area: 3 / 1 / 4 / 6; }
.grid-talent .talent-description       { grid-area: 4 / 1 / 7 / 6; }

.grid-talent .talent-name input { width: 80%; }
.grid-talent .talent-description .gear-description {
    height: 250px;
}

/* ---- ability ---- */
.grid-ability {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(6, auto);
    grid-column-gap: 6px;
    grid-row-gap: 0px;
}
    
.item .grid-ability .avatar                    { grid-area: 1 / 1 / 3 / 2; }
.item .grid-ability .ability-name              { grid-area: 1 / 2 / 2 / 6; }
.item .grid-ability .ability-identifier        { grid-area: 2 / 2 / 3 / 6; }
.item .grid-ability .ability-short-description { grid-area: 3 / 1 / 4 / 6; }
.item .grid-ability .ability-description       { grid-area: 4 / 1 / 7 / 6; }

.item .grid-ability .ability-name input { width: 80%; }
.item .grid-ability .ability-identifier input { width: 70%; }
.item .grid-ability .identifier-hint { 
    font-style: italic;
    font-size: 11px;
}
.item .grid-ability .ability-description .gear-description {
    height: 250px;
}

/* ---- gear ---- */
.grid-gear {
    display: grid;
    grid-template-columns: repeat(6, 76px);
    grid-template-rows: repeat(7, auto);
    grid-column-gap: 6px;
    grid-row-gap: 2px;
}
    
.item .grid-gear .avatar                     { grid-area: 1 / 1 / 4 / 2; }
.item .grid-gear .gear-name                  { grid-area: 1 / 2 / 2 / 7; }
.item .grid-gear .gear-type                  { grid-area: 2 / 2 / 3 / 4; }
.item .grid-gear .gear-quality               { grid-area: 2 / 4 / 3 / 7; }
.item .grid-gear .gear-subtype               { grid-area: 3 / 2 / 4 / 7; }
.item .grid-gear .gear-wealth-level          { grid-area: 4 / 1 / 5 / 4; }
.item .grid-gear .gear-cash-cost             { grid-area: 4 / 4 / 5 / 7; }
.item .grid-gear .stat-requirement-label     { grid-area: 5 / 1 / 6 / 7; }
.item .grid-gear .stat-requirement-strength  { grid-area: 6 / 1 / 7 / 2; }
.item .grid-gear .stat-requirement-quickness { grid-area: 6 / 2 / 7 / 3; }
.item .grid-gear .stat-requirement-reason    { grid-area: 6 / 3 / 7 / 4; }
.item .grid-gear .stat-requirement-charisma  { grid-area: 6 / 4 / 7 / 5; }
.item .grid-gear .stat-requirement-magic     { grid-area: 6 / 5 / 7 / 6; }
.item .grid-gear .stat-requirement-heart     { grid-area: 6 / 6 / 7 / 7; }
.item .grid-gear .gear-gear-description      { grid-area: 7 / 1 / 9 / 7; }

.item .grid-gear .gear-name input { width: 80%; }
.item .grid-gear .gear-subtype input { width: 75%; }
.item .grid-gear .gear-gear-description .gear-description {
    height: 250px;
}

/* ---- object ---- */
.grid-object {
    display: grid;
    grid-template-columns: repeat(6, 76px);
    grid-template-rows: repeat(7, auto);
    grid-column-gap: 6px;
    grid-row-gap: 2px;
}
    
.item .grid-object .avatar                { grid-area: 1 / 1 / 4 / 2; }
.item .grid-object .object-name           { grid-area: 1 / 2 / 2 / 7; }
.item .grid-object .object-type           { grid-area: 2 / 2 / 3 / 4; }
.item .grid-object .object-quality        { grid-area: 2 / 4 / 3 / 7; }
.item .grid-object .object-subtype        { grid-area: 3 / 2 / 4 / 7; }
.item .grid-object .object-defense        { grid-area: 4 / 1 / 5 / 3; }
.item .grid-object .object-wealth-level   { grid-area: 4 / 3 / 5 / 5; }
.item .grid-object .object-cash-cost      { grid-area: 4 / 5 / 5 / 7; }
.item .grid-object .object-effect         { grid-area: 5 / 1 / 6 / 7; }
.item .grid-object .object-description    { grid-area: 6 / 1 / 9 / 7; }

.item .grid-object .object-name input { width: 80%; }
.item .grid-object .object-subtype input { width: 75%; }
.item .grid-object .object-description .gear-description {
    height: 250px;
}

/* ---- maneuver ---- */
.grid-maneuver {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(7, auto);
    grid-column-gap: 6px;
    grid-row-gap: 2px;
}

.item .grid-maneuver .maneuver-name              { grid-area: 1 / 1 / 2 / 3; }
.item .grid-maneuver .maneuver-rebalancing       { grid-area: 2 / 1 / 3 / 2; }
.item .grid-maneuver .maneuver-learned           { grid-area: 2 / 2 / 3 / 3; }
.item .grid-maneuver .maneuver-must-rebalance    { grid-area: 3 / 1 / 4 / 2; }
.item .grid-maneuver .maneuver-mastery           { grid-area: 3 / 2 / 4 / 3; }
.item .grid-maneuver .maneuver-magic-attack      { grid-area: 4 / 1 / 5 / 2; }
.item .grid-maneuver .maneuver-magic-defense     { grid-area: 4 / 2 / 5 / 3; }
.item .grid-maneuver .maneuver-attack            { grid-area: 5 / 1 / 6 / 2; }
.item .grid-maneuver .maneuver-defense           { grid-area: 5 / 2 / 6 / 3; }
.item .grid-maneuver .maneuver-short-description { grid-area: 6 / 1 / 7 / 3; }
.item .grid-maneuver .maneuver-description       { grid-area: 7 / 1 / 8 / 3; }

.item .grid-maneuver .maneuver-name input { width: 80%; }
.item .grid-maneuver .maneuver-magic-attack,
.item .grid-maneuver .maneuver-magic-defense,
.item .grid-maneuver .maneuver-attack,
.item .grid-maneuver .maneuver-defense {
    border: 1px solid;
    padding: 4px;
    text-align: center;
}
.item .grid-maneuver .add-attack {
    font-size: 18px;
}

.item .grid-maneuver .grid-maneuver-attack {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, auto);
    grid-column-gap: 2px;
    grid-row-gap: 2px;

    border-top: 1px dashed;
}
    
.item .grid-maneuver .maneuver-attack-key     { grid-area: 1 / 1 / 2 / 5; }
.item .grid-maneuver .maneuver-attack-die-vs  { grid-area: 2 / 1 / 3 / 5; }
.item .grid-maneuver .attack-damage-label     { grid-area: 3 / 1 / 4 / 5; }
.item .grid-maneuver .attack-damage-body      { grid-area: 4 / 1 / 5 / 2; }
.item .grid-maneuver .attack-damage-mood      { grid-area: 4 / 2 / 5 / 3; }
.item .grid-maneuver .attack-damage-strength  { grid-area: 4 / 3 / 5 / 4; }
.item .grid-maneuver .attack-damage-quickness { grid-area: 4 / 4 / 5 / 5; }
.item .grid-maneuver .attack-damage-reason    { grid-area: 5 / 1 / 6 / 2; }
.item .grid-maneuver .attack-damage-charisma  { grid-area: 5 / 2 / 6 / 3; }
.item .grid-maneuver .attack-damage-magic     { grid-area: 5 / 3 / 6 / 4; }
.item .grid-maneuver .attack-damage-heart     { grid-area: 5 / 4 / 6 / 5; }

.item .grid-maneuver .maneuver-attack-die-vs .die-select {
    width: 60px;
}
.item .grid-maneuver .maneuver-attack-die-vs .vs-select {
    width: 90px;
}
.item .grid-maneuver .scroll-container {
    max-height: 200px;
    overflow-y: scroll;
}

.maneuver-attack .scroll-container,
.maneuver-defense .scroll-container,
.maneuver-magic-attack .scroll-container,
.maneuver-magic-defense .scroll-container {
    counter-reset: attack-counter 0;
}
.grid-maneuver-attack .maneuver-attack-key label:before,
.grid-maneuver-defense .maneuver-defense-key label:before {
    counter-increment: attack-counter;
    content: counters(attack-counter, ".");
}

.item .grid-spell {
    display: grid;
    grid-template-columns: 56px auto auto;
    grid-template-rows: repeat(3, auto);
    grid-column-gap: 6px;
    grid-row-gap: 4px;
}

.item .grid-spell .avatar            { grid-area: 1 / 1 / 3 / 2; }
.item .grid-spell .spell-name        { grid-area: 1 / 2 / 2 / 4; }
.item .grid-spell .spell-mastery     { grid-area: 2 / 2 / 3 / 3; }
.item .grid-spell .spell-high        { grid-area: 2 / 3 / 3 / 4; }
.item .grid-spell .spell-description { grid-area: 3 / 1 / 4 / 4; }

.item .grid-spell .spell-name input { width: 80%; }
.item .grid-spell .spell-description textarea { height: 300px; }